[graph]
gen:True
seed:random

####Black Square Rates####
black0:15
black1:8
black2:11
black3:13
black4:15
black:7

x:10
y:12


[pop]
dynfit:False
####Evolutionary Strategy (mu+lambda)-EA Parameters
mu:1000
lambda:50

####Initilization Types
forcevalid:False

#####Mutation Parameters
mutatealpha:5

####Parent Selection
parseltourn:True
partsize:40

####Survival Selection
surseltourn:True
sursize:40
surtrunc:lambda

[log]
result:result-log.txt
solution:solution-log.txt
logh:0

[main]
runs:30
#####Type of cap, set = to "0" to disable. One at a time
fitevals:10000

gens:0

homogenity:0
homoacc:3
stoponsol:True

ignoreblack:True
