[graph]
#gen = True, otherwise it tries to open the file with that name. Takes relative or full paths.
gen:True

#Seed, != random means use this
seed:random

####Black Square Rates####
#1 in # chance of choosing these (up to 1,000,000)
black0:15
black1:8
black2:11
black3:13
black4:15
#No requirement black square
black:7
#A collective area over about 250 causes considerable delays
x:10
y:10


[pop]
#Population Options
#Took his lecture to mean we're combining kids with parents in tournies
####Evolutionary Strategy (mu+lambda)-EA Parameters
#Initial Pop Size
mu=5000
#Offspring per generation
lambda=500
####Initilization Types
#True = Validity-Forced + Uniform Random
#False = Uniform Random
forcevalid:True
####Parent Selection
#True = K-Tournament w/ Replacement
#False = Fitness Proportional Selection
parseltourn:False
####Survival Selection
#True = Tournament Selection w/o Replacement (obs)
#False = Truncation, an automatic proportion is discared and replaced
surseltourn:False
#Termination Type
# True = Terminates after #(solve => fitevals) evals
# False = Terminates on no fitness change after #(termHomogenN) evals
termEvals:True
termHomogenN:30

[log]
#Log filename, relative or absolute
result:result-log.txt
#Where we pump out the solution
solution:solution-log.txt
#Log headers, do we try to query git (1) or not (0)?
logh:0

[main]
#number of total runs to try
runs:1
#number of generat
fitevals:1000
#Ignore the black squares
ignoreblack:True
#chance to place a lamp
chance:.30
